.catalog-contents {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 3fr;
}

.catalog-sidebar {
    justify-self: end;
    margin-right: 30px;
}

.shopping-title {
    margin-bottom: 120px;
}

.shopping-options {
    display: flex;
    height: 120px;
    justify-content: space-between;
    flex-direction: column;
    font-size: 22px;
}

.current-category {
    font-size: 38px;
}

.category-name {
    display: inline-block;
    position: relative;
    }

    .category-name:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    }

    .category-name:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    }

    .category-name:hover {
    cursor: pointer;
    }

.catalog-preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    margin-left: 80px;
    gap: 10px;
}

.preview-card {
    height: 400px;
}

.preview-name {
    font-size: 25px;
    margin-top: 18px;
}

.preview-price {
    font-weight: 100;
    margin-top: 10px;
}

.description {
    margin-left: 3px;
}

.image-area {
    background-color: #f1eeeb;
    height: 300px;
    width: 300px;
    position: relative;
    max-width: 100%;
}

.image-area img {
    height: 100%;
    width: 100%;
}

.image-area img.top {
    object-fit: contain;
}

.image-area img.bottom {
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.image-area:hover img.bottom {
    opacity: 1;
}

@media only screen and (max-device-width: 600px) {
    .catalog-contents {
        display: flex;
        flex-direction: column;
    }
    .catalog-sidebar {
        margin-left: 40px;
        margin-top: 30px;
    }
    .shopping-title {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .current-category {
        font-size: 30px;
    }
    .shopping-options {
        font-size: 20px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .catalog-preview {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        margin: 0 auto;
        gap: 10px;
    }
    .preview-card {
        height: 260px;
        width: 130px;
    }
    .image-area {
        width: 130px;
        height: 130px;
    }
    .preview-name {
        font-size: 20px;
    }
    .category-name:after {
        width: 40%;
    }
}