.darkHeader,
.lightHeader {
    padding-top: 4vh;
    margin-left: 75px;
    margin-right: 15px;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    position: relative;
    z-index: 1;
}

.darkHeader {
    color: white;
}

.title {
    font-size: 18px;
    letter-spacing: .75rem;
}

.right-header-container {
    width: 48vw;
    display: flex;
    justify-content: space-around;
}

.black-screen {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: .85;
    z-index: 5;
}

.cart-sidebar {
    background-color: #f9f5f2;
    position: absolute;
    top: 0;
    left: 65vw;
    width: 35vw;
    height: 100vh;
    z-index: 10;
    overflow-y:auto;
    overflow-x: hidden;
}

.cart-sidebar-x {
    position: relative;
    left: 80%;
    font-size: 30px;
    top: 7%;
}

.cart-sidebar-x:hover {
    cursor: pointer;
}

.header-button:hover {
    cursor: pointer;
}

.cart-title {
    position: relative;
    left: 15%;
    font-size: 30px;
    letter-spacing: .2rem;
    top: 10%;
}

.ShoppingCart {
    position: relative;
    left: 15%;
    top: 18%;
}

.checkout-button {
    position: relative;
    bottom: 0;
    left: 15%;
    margin-top: 25px;
    margin-bottom: 50px;
    border: solid 1px black;
    width: 70%;
    height: 10%;
    transition: background-color 0.25s ease-in-out;
}

.checkout-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.total-price-display {
    position: relative;
    bottom: 0;
    left: 15%;
    margin-top: 175px;
    letter-spacing: .12rem;
}

.search-x {
    position: absolute;
    left: 70%;
    top: 20%;
    font-size: 35px;
    color: white;
}

.search-x:hover {
    cursor: pointer;
}

.search-bar {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 40%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
    outline: none;
}

::placeholder {
    color: white;
}

.underline {
    color: white;
    position: absolute;
    left: 30%;
    top: 45%;
    width: 40%;
}

@media only screen and (max-device-width: 600px) {
    .darkHeader,
    .lightHeader {
        display: flex;
        flex-direction: column;
        height: 13vh;
        width: 100vw;
        align-items: center;
        margin-left: 0;
        padding-top: 35px;
    }

    .right-header-container {
        width: 80vw;
    }

    .cart-sidebar {
        left: 0;
        width: 100vw;
        padding-bottom: 500px;
    }
    .search-bar {
        font-size: 15px;
    }
    .underline {
        top: 42%
    }
    .search-x {
        top: 10%;
        left: 75%;
        font-size: 25px;
    }
}