.Product {
    height: 100vh;
    width: 100vw;
}

.product-image {
    position:absolute;
    left:50%;
    margin-left:-300px;
    margin-top: 20px;
    height: 400px;
}

.product-title {
    position: absolute;
    width: 200px;
    top: 350px;
    left: 12vw;
    font-size: 45px;
    font-weight: bold;
}

.product-sidebar {
    position: absolute;
    left: 72vw;
    width: 28vw;
    height: 65vh;
    display: grid;
    grid-template-rows: 3fr 1.5fr 1fr 1fr;
    padding-top: 25vh;
    flex-direction: column;
    align-content: space-between;
    row-gap: 30px;
    justify-items: center;
    padding-bottom: 10vh;
    top: 0;
    background-color: #f9f5f2;
    z-index: 0;
}

.square-logo {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1.5rem;
    line-height: 2.5rem;
    margin-left: 1.5rem;
}

.product-price {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: .3rem;
}

.add-to-cart,
.buy-it-now {
    border: none;
    width: 70%;
    letter-spacing: .23rem;
}

.add-to-cart {
    background-color: #cac0b1;
}

.buy-it-now {
    background-color: #88734c;
    color: #f9f5f2;
}

.add-to-cart:hover,
.buy-it-now:hover {
    cursor: pointer;
}

@media only screen and (max-device-width: 600px) {
    .item-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 75px;
    }
    .product-image,
    .product-title,
    .product-sidebar {
        position: static;
    }
    .product-title {
        font-size: 30px;
        font-weight: 400;
    }
    .product-image {
        max-width: 260px;
        max-height: 260px;
        margin: 75px 0;
        object-fit: scale-down;
    }
    .product-sidebar {
        width: 100vw;
        height: 55vh;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .square-logo {
        font-size: 18px;
        letter-spacing: 1.5rem;
        line-height: 2rem;
    }
    .add-to-cart,
    .buy-it-now {
    height: 50px;
    }
    .product-price {
        font-size: 20px;
        font-weight: 100;
        letter-spacing: .3rem;
    }
}